# 编译产物
/bin/
/obj/
/Debug/
/Release/
bin/
obj/
TestResults/
*.trx
*.coverage
*.coveragexml

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec

# 本地设置
*.vs/
.vscode/
*.csproj.user


# 个人开发日志
/_private/

# Tests (unit + examples)
tests/**/bin/
tests/**/obj/
tests/**/TestResults/
